.card {
	width: 317px;
	height: calc(64px + 399px + 317px);
	background-color: #1a1b21;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Inter', sans-serif;
}
